<%# Navbar styling %>
<div class="navbar navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://imgs.search.brave.com/yLUfloFQnpQIXmPMQigHdBVABbI-7VK9Xvi30UG_Acg/rs:fit:860:899:1/g:ce/aHR0cHM6Ly93d3cu/dmh2LnJzL2Rwbmcv/ZC8xNDQtMTQ0NTc5/MV90cmFuc3BhcmVu/dC1tb3ZpZS1tYXJx/dWVlLXBuZy1mbGF0/LW1vdmllcy1pY29u/LXBuZy5wbmc" />
    </a>
  </div>
    <h2 class="ms-2"> It's Popcorn Time </h2>
</div>
